body {
  margin: 2rem 4rem;
}
 
.job {
  width: 80%; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 2rem 1rem;
  align-items: center;
}

.job:hover {
  cursor: pointer;
  color: #666;
}

.detail-logo{
  height: 30px;
  float: right;
}

.job-company {
  padding: 0 3rem;
}

.job-dialog {
  padding: 3rem 5rem;
}